openai
langchain 
langchain_openai 
langchain-community
llama-index 
llama-index-llms-ollama
llama-index-embeddings-ollama
llama-index-vector-stores-qdrant
python-dotenv 
datasets 
qdrant-client 
tiktoken
requests
unidecode
fitz
flask
markdown
pymupdf
nltk
pandas